body {
    padding: 1em;
    background-color: #202020;
    color: #bbbbbb;
}

a,p,td,th,li {
    color: #bbbbbb;
}

h1,h2,h3,h4 {
    background-color: #202020;
    color: #b8ddea;
}

th, td {
    border: 1px solid #bbbbbb;
    padding: 0.5em;
}

th {
    font-weight: bold;
}

.pass {
    background-color: #004400;
}

.fail {
    background-color: #aa0000;
}

.warning {
    background-color: #aa4400;

}
